**/node_modules/
**/dist/

.env
client/.env.local
client/.env.development
client/.env.production

client/.next/

.DS_Store
Thumbs.db

.vscode/

client/node_modules/
client/dist/
client/.env
client/.next/
node_modules